<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lukamaletin.monumentshare">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.lukamaletin.monumentshare.MonumentShare_"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.lukamaletin.monumentshare.activities.LoginActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.lukamaletin.monumentshare.activities.RegisterActivity_"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.lukamaletin.monumentshare.activities.NavigationActivity_"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.lukamaletin.monumentshare.activities.NewMonumentActivity_"
            android:screenOrientation="portrait" />
    </application>

</manifest>
